core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json


inputs/cherry_leaves_dataset/cherry-leaves/test
inputs/cherry_leaves_dataset/cherry-leaves/train

*.ipynb



joblib==1.4.2
scikit-learn==1.3.1
tensorflow-cpu==2.16.1
keras>=3.0.0